<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/ajaxForAddPost.js"></script>
    <script src="/js/ajaxForUpdatePost.js"></script>

    <title>Admin Panel</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet"/>

    <style id="holderjs-style" type="text/css"></style>
</head>
<body>
<div th:replace="navbar::navbar"></div>

<a class="btn btn-info" role="button"
   data-toggle="modal"
   data-target="#myModal"
>Add user</a>

<div th:replace="add::add"></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Role</th>
        <th>Edit</th>
        <!--<th>Delete</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roles}"></td>
        <td><a class="btn btn-info" role="button"
               data-toggle="modal"
               th:attr="data-target='#' + ${user.id}"
        >Update</a>

            <div th:replace="updateModal::update"></div>
        </td>
        <!--<td><a class="btn btn-danger" role="button"
               th:href="@{/delete/(id=${user.id})}">Delete</a>
        </td>-->
    </tr>
    </tbody>
</table>
</body>
</html>